h1 {
    text-align: center;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

div {
    display: grid;
  grid-template-columns: repeat(1fr,4);
  grid-template-areas: 
  "h h h h"
  "s m m m"
  "f f f f";
}
