h1 {
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    background-color: black;
}
input {
    display: block;
}

select {
  display: block;
}
input {
  padding-right: 200px ;
  
}

h4 {
  text-decoration: underline;

}

img {
  width: 100px;
}

/* article {
  
} */
button {
  display: block;
}

.src {
  width: 100px;
}


/* div {
display: grid;
  grid-template-columns: repeat(1fr,4);
  grid-template-areas: 
  "h h h h"
  "s m m m"
  "f f f f";
} */
