body {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.container {
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  grid-template-areas: 
  "h h h"
  "m m m"
  "f f f";
 border-style: dashed solid 3px blue ;
}
header {
  background: #46494c;  
  border-bottom: 3px solid #73956f;
  color: white;
}
h1 {
  padding: 25px;
  font-family: "Playfair Display", serif;
}
h2 {
  color: gray;
}





input {
    display: block;
    border:solid black 1px;
}

select {
  display: block;
  margin-bottom: 20px;
}
input {
  padding-right: 200px ;
  margin-bottom: 10px;
}

h4 {
  text-decoration: underline;

}

img {
  width: 100px;
}

/* article {
  
} */
/* button {
  display: block;
} */

.src {
  width: 100px;
}

.title {
  text-decoration: underline;
  color:  red;
}
form {
  border: solid 3px white;
}
strong {
  text-decoration: underline;
}
.newItems h2 {
  color: white;
  font-family: "Playfair Display", serif;
  padding-bottom: 0px;
}

.newItems h4 {
  color: white;
  font-family: "Playfair Display", serif;
}

.newItems p {
  color: white;
  font-family: "Playfair Display", serif;
}
.newItems strong {
  color: white;
  font-family: "Playfair Display", serif;
}





/* div {
display: grid;
  grid-template-columns: repeat(1fr,4);
  grid-template-areas: 
  "h h h h"
  "s m m m"
  "f f f f";
} */


/* @media (min-width:768px) and (max-width: 1279px) {
  .splash {
    display: none;
  }
  main {
    width: 90%;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  header {
    display: grid;
    grid-template-columns: 1fr;
  }
  main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px 0px
  }
  footer {
    padding: 25px;
    text-align: center;
  }
  footer ul {
    list-style: none;
  }
  footer h4 {
    border-bottom: none;
  }
}
 */
